<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titl>Districts</titl></title>
</head>
<body>
{% extends "dashboard.html"%}
{%block content%}
<div>
                    <!-- Table -->
                         <table class="table table-striped">
                            <thead>
                                 <tr>

                                     <th scope="col">CONFEDERACY</th>
                                     <th scope="col">EDIT</th>
                                      <th scope="col">DELETE</th>


                                 </tr>
                             </thead>
                            <tbody>
                                        {% for data in confederacy%}
                                              <tr>
                                                    <td>{{data.confederancy_name}}</td>
                                                  <td><a href=""> <i class="fas fa-edit"></i></a></td>
                                                  <td><a href=""> <i class="fas fa-trash-alt"></i></a></td>


                                              </tr>
                                        {% endfor%}
                            </tbody>
                            </table>
                            </div>

                            <!--end table -->


{% endblock%}

</body>
</html>