<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titl>Districts</titl></title>

    <style>
      #css-serial {
        counter-reset: serial-number;  /* Set the serial number counter to 0 */

        }

        #css-serial td:first-child:before {
            color:brown;
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
    </style>
</head>
<body>
{% extends "dashboard.html"%}
{%block content%}


<div>
                    <!-- Table -->
                         <table class="table table-striped" id="css-serial">
                            <thead>
                                 <tr>
                                     <th>#</th>
                                     <th scope="col">CONFEDERACY</th>
                                     <th scope="col">EDIT</th>



                                 </tr>
                             </thead>
                            <tbody>
                                        {% for data in confederacy%}
                                              <tr>
                                                     <td></td>
                                                    <td>{{data.confederancy_name}}</td>
                                                  <td><a href=""> <i class="fas fa-edit"></i></a></td>


                                              </tr>
                                        {% endfor%}
                            </tbody>
                            </table>
                            </div>

                            <!--end table -->







{% endblock%}

</body>
</html>